/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/NewGameMenu.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.NewGameMenu_newGameMenu__O_4vd {
  width: 460px;
  height: 471px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.NewGameMenu_logo__bf7MF {
  margin-bottom: 20px;
}

.NewGameMenu_pickPlayerMark__SPnsI {
  width: 100%;
  background: var(--color-semi-dark-navy);
  border-radius: 15px;
  padding: 24px 24px 30px;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

.NewGameMenu_markSelector__apPLv {
  background: var(--color-dark-navy);
  border-radius: 10px;
  padding: 8px;
  margin: 24px 0 17px;
  display: flex;
  justify-content: space-between;
}

.NewGameMenu_markSelector__apPLv button {
  border: none;
  background: none;
  width: 50%;
  padding: 11px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NewGameMenu_markSelector__apPLv button.NewGameMenu_active__vo5xi {
  background-color: var(--color-silver);
}

.NewGameMenu_markSelector__apPLv button:not(.NewGameMenu_active__vo5xi) {
  opacity: 0.5;
}

.NewGameMenu_markSelector__apPLv button:not(.NewGameMenu_active__vo5xi):hover {
  opacity: 1;
  background-color: rgba(168, 191, 201, 0.05);
}

.NewGameMenu_markSelector__apPLv svg {
  fill: var(--color-dark-navy);
}

.NewGameMenu_markSelector__apPLv button:not(.NewGameMenu_active__vo5xi) svg {
  fill: var(--color-silver);
}

.NewGameMenu_newGameButtons__srRlP {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.NewGameMenu_newGameButtons__srRlP button {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.NewGameMenu_newGameButtons__srRlP button.NewGameMenu_yellow__1aCnh {
  background-color: var(--color-light-yellow);
  color: var(--color-dark-navy);
}

.NewGameMenu_newGameButtons__srRlP button.NewGameMenu_yellow__1aCnh:hover {
  background-color: var(--color-light-yellow-hover);
}

.NewGameMenu_newGameButtons__srRlP button.NewGameMenu_turquoise__HxO3e {
  background-color: var(--color-light-blue);
  color: var(--color-dark-navy);
}

.NewGameMenu_newGameButtons__srRlP button.NewGameMenu_turquoise__HxO3e:hover {
  background-color: var(--color-light-blue-hover);
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
}

.page_buttonPrimary__QtCGm {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  padding: 17px 30px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  margin: 8px 0;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

.page_yellow__cD33L {
  background-color: var(--color-light-yellow);
  color: var(--color-dark-navy);
  box-shadow: 0 8px 0 #cc8b13;
}

.page_yellow__cD33L:hover {
  background-color: var(--color-light-yellow-hover);
}

.page_turquoise__E5TlR {
  background-color: var(--color-light-blue);
  color: var(--color-dark-navy);
  box-shadow: 0 8px 0 #118c87;
}

.page_turquoise__E5TlR:hover {
  background-color: var(--color-light-blue-hover);
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/GameBoard.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
/* --color-dark-navy: #1a2a33;
--color-semi-dark-navy: #1f3641;
--color-light-blue: #31c3bd;
--color-light-blue-hover: #65e9e4;
--color-light-yellow: #f2b137;
--color-light-yellow-hover: #ffc860;
--color-silver: #a8bfc9;
--color-silver-hover: #dbe8ed; */

.GameBoard_container__F0XNe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 460px;
}

.GameBoard_header__pAroH {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.GameBoard_marks__uulnt {
  display: flex;
  gap: 8px;
  font-size: 24px;
  font-weight: bold;
}

.GameBoard_turn___3Ypm {
  background: var(--color-semi-dark-navy);
  padding: 8px 20px;
  border-radius: 10px;
  color: var(--color-silver);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}

.GameBoard_reset__nbTxa {
  background: var(--color-silver);
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-dark-navy);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}

.GameBoard_board__YuLnk {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  gap: 20px;
  width: 100%;
}

.GameBoard_cell__hrfnn {
  aspect-ratio: 1;
  background: var(--color-semi-dark-navy);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
}

.GameBoard_x__hx0LE {
  color: var(--color-light-blue);
}

.GameBoard_o__AgoGk {
  color: var(--color-light-yellow);
}

.GameBoard_scores___oRwF {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  gap: 20px;
  width: 100%;
}

.GameBoard_score__xpDPN {
  padding: 12px;
  border-radius: 15px;
  text-align: center;
}

.GameBoard_score__xpDPN:nth-child(1) {
  background: var(--color-light-blue);
}

.GameBoard_score__xpDPN:nth-child(2) {
  background: var(--color-silver);
}

.GameBoard_score__xpDPN:nth-child(3) {
  background: var(--color-light-yellow);
}

.GameBoard_label__slivK {
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--color-dark-navy);
}

.GameBoard_value__Qn6Mo {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-dark-navy);
}

